
<div class="container">

  <div class="row mt-5">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-right">

      <div class="btn-group">
        <button type="button" class="btn btn-outline-warning" (click)="getToday()">Today</button>
        <button type="button" class="btn btn-outline-warning" (click)="getThisWeek()">This Week</button>
        <button type="button" class="btn btn-outline-warning" (click)="getThisMonth()">This Month</button>
      </div>

    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="text-secondary card-title text-center">TOTAL RATINGS  </p>
            <h3 class="text-center totalh3">{{ dashboard?.totalRatings  }}</h3>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="text-secondary card-title text-center">TOTAL ROW RATINGS </p>
            <h3 class="text-center totalh3">{{ dashboard?.totalLowRatings  }}</h3>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body avgSatis">
          <p class="text-secondary card-title text-center">AVG.SATISFACTION RATE</p>
          <h3 class="text-center avg">{{ dashboard?.avgSatisfactionRate }}</h3>
          <p class="text-center">Avg. Satisfaction Rate as of</p>
          <p class="text-center asof">October 28 - November 3, 2021</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control mt-5" id="searchInput" [(ngModel)]="feedbackSearch" placeholder="Search Queue Number, Category">
  </div>

  <div class="table-container">

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">Filter By</div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Show All
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">Dropdown link</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Show All
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">Dropdown link</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
    </div>

    <table class="table mt-5" id="feedbackTable">
      <thead>
        <tr>
          <th scope="col">Queue Number</th>
          <th scope="col">Queueing Type</th>
          <th scope="col">Category</th>
          <th scope="col">Queue Group</th>
          <th scope="col">Rating</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of feedbacks | feedbacks: feedbackSearch">
          <td>{{ x.queueNo }}</td>
          <td>{{ x.queueType }}</td>
          <td>{{ x.category.name }}</td>
          <td>{{ x.queueNo }}</td>
          <td >          
            <ng-container *ngFor="let i of [1,2,3,4,5]" >
              <i class="fa fa-star rating-color text-warning" *ngIf="i >= x.rate"></i>
            </ng-container>
          </td>
          <td><a href="#" class="text-warning" (click)="details(x)" data-toggle="modal" data-target="#exampleModal">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <p>{{ feedbackDetails?.remarks }}</p> -->
        
        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Queue Number</p>
          </div>
          <div class="col-md-4">
            <p class="text-secondary text-right">{{ feedbackDetails?.queueNo }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Name</p>
          </div>
          <div class="col-md-4">
            <p class="text-secondary text-right">{{ feedbackDetails?.customer.name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Mobile Number</p>
          </div>
          <div class="col-md-4">
            <p class="text-secondary text-right">{{ feedbackDetails?.customer.mobileNumber }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Queueing Type</p>
          </div>
          <div class="col-md-4">
            <p class="text-secondary text-right">{{ feedbackDetails?.queueType }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Date</p>
          </div>
          <div class="col-md-4">
            <p class="text-secondary text-right">{{ feedbackDate }}</p>
          </div>
        </div>

        <hr class="text-secondary">

        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Category</p>
          </div>
          <div class="col-md-4">
            <p class="text-secondary text-right">{{ feedbackDetails?.category.name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Queue Group</p>
          </div>
          <div class="col-md-4">
            <p class="text-secondary text-right">{{ feedbackDetails?.category.queueGroup.name }}</p>
          </div>
        </div>

        <hr class="text-secondary">

        <div class="row">
          <div class="col-md-4">
            <p class="text-secondary">Ratings</p>
          </div>
          <div class="col-md-8 text-right">
            <ng-container *ngFor="let i of [1,2,3,4,5]" >
              <i class="fa fa-star rating-color text-warning" *ngIf="i >= feedbackDetails?.rate"></i>
            </ng-container>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <p class="text-secondary">Remarks</p>
            <p>{{ feedbackDetails?.remarks || 'No Remarks'}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-warning form-control" id="btnOk" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
